@charset "utf-8";
@import "normalize";

$card-width: 280px;
$card-height: 568px;
$card-margin: 35px;
$grayish-orange: #8C8783;
$icook-beige: #EFEDE8;
$icook-red: #AA0000;
$icook-gray: #444444;
$icook-white: white;
$hover-alpha: 0.6;

body {
  background: $icook-beige;
  color: $icook-gray;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 0.12em;
  text-align: center;
}

.ribbon {
  border: 0;
  display: inherit;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

a:link {
  color: inherit;
  cursor: auto;
  text-decoration: inherit;
}

a:visited {
  color: inherit;
  cursor: auto;
  text-decoration: inherit;
}

.container {
  margin: 50px auto 0 auto;
  overflow: auto;
  text-align: center;
  width: $card-width * 2 + $card-margin * 2 + 4px;  // 4px borders
}

.card {
  display: inline-block;
  float: left;
  height: $card-height;
  margin-bottom: $card-margin;
  position: relative;
  text-align: left;
  width: $card-width;
}

// Front

.front {
  background-color: $icook-red;
  color: $icook-white;
  margin-right: $card-margin;
  overflow: hidden;

  &:hover,
  &:active {
    box-shadow: 1px 1px 2px $grayish-orange;
    transition: box-shadow 0.15s ease-in;
  }
}

.tagline {
  margin: 40px 0 40px 20px;
}

.icook {
  display: inline-block;
  margin-left: 20px;

  .company-img {
    height: 26px;
    margin-bottom: 5px;
    width: 76px;
  }

  &:hover,
  &:active {
    .company-img {
      opacity: $hover-alpha;
    }

    .icook-url {
      color: rgba($icook-white, $hover-alpha);
      transition: box-shadow .2s ease-in-out;
    }
  }
}

.logo {
  bottom: 35px;
  height: 196px;
  left: -80px;
  position: absolute;
  width: 262px;
}

// Back

.back {
  background-color: white;
  margin-left: $card-margin;

  &:hover,
  &:active {
    box-shadow: 1px 1px 2px $grayish-orange;
    transition: box-shadow .2s ease-in-out;
  }
}

.stripe {
  background-color: $icook-red;
  height: 8px;
}

.back-top {
  margin-top: 15px;
  overflow: auto;

  .position {
    float: left;
    margin: 15px;
  }

  .icon {
    float: right;
    height: 40px;
    margin: 6px 15px 0 0;
    width: 40px;
  }
}

.back-bottom {
  bottom: 0;
  padding: 15px;
  position: absolute;

  .name {
    font-size: 1.5em;
    margin-bottom: 8px;
  }

  .nickname {
    font-size: 1.4em;
    font-weight: 300;
  }

  ul {
    margin: 35px 0 20px 0;
  }

  li {
    margin: 6px 0;

    > span {
      display: inline-block;
      padding: 4px 0;
    }

    > span:hover {
      color: rgba($icook-gray, $hover-alpha);
      transition: color 0.15s ease-in;
    }
  }

  .info li {
    margin: 0;
  }

  .fa {
    width: 25px;
  }
}

// QRCode

.qrcode {
  display: none;
}


@media only screen and (max-width: 790px) {
  .ribbon {
    display: none;
  }
}


@media only screen and (max-width: $card-width * 2 + $card-margin * 2 + 4px) {
  .container {
    width: $card-width + 2px;  // 2px borders
  }

  .front {
    margin-right: 0;
  }

  .back {
    margin-left: 0;
  }

  .qrcode {
    display: block;
    margin: 0 auto 50px auto;
  }
}
